/* TODO: global styling reset */

body{
  padding-left: 10px;
  padding-right: 10px;
}

a{
  text-decoration: none;
}

a:link,
a:visited{
  color: rgb(0,176,240);
}

a:hover{
  color: rgb(200,200,200);
}

p{
  line-height: 130%;
}

#plots {
  padding: 20px 10px 5px;
}

rect,
line{
  shape-rendering: crispEdges;
}

*{
  font-family: helvetica;
}

.barPlot_highlight{
  fill: white;
  stroke: none;
}

.barPlot_mousecatcher_overlay{
  fill: none;
  stroke: none;
  pointer-events: all;
}

#xAxisPositive line{
  stroke: red;
}

#xAxisPositive path{
  stroke: red;
}

#xAxisPositive text{
  fill: red;
  font-size: 14px;
}

#xAxisNegative line{
  stroke: rgb(0,176,240);
}

#xAxisNegative path{
  stroke: rgb(0,176,240);
}

#xAxisNegative text{
  fill: rgb(0,176,240);
  font-size: 14px;
}

.axis_label{
  font-size: 14px;
}

.positive.axis_label {
  fill: red;
}

.negative.axis_label {
  fill: rgb(0,176,240);
}

#number_of_studies_axis_label{
  font-size: 16px;
}

#Brain_areas_axis_label{
  font-size: 16px;
}

/*polygon {
fill: blue ;
stroke: green ;
}*/
/*polygon:hover {
fill: orange;
}*/
