/* TODO: global styling reset */

#plots {
  padding: 20px 10px 5px;
}

rect,
line,{
  shape-rendering: crispEdges;
}

*{
  font-family: helvetica;
}

.barPlot_highlight{
  fill: white;
  stroke: none;
}

.barPlot_mousecatcher_overlay{
  fill: none;
  stroke: none;
  pointer-events: all;
}

#xAxisPositive line{
  stroke: red;
}

#xAxisPositive path{
  stroke: red;
}

#xAxisPositive text{
  fill: red;
  font-size: 12px;
}

#xAxisNegative line{
  stroke: rgb(0,176,240);
}

#xAxisNegative path{
  stroke: rgb(0,176,240);
}

#xAxisNegative text{
  fill: rgb(0,176,240);
  font-size: 12px;
}

.axis_label{
  font-size: 10px;
}

.positive.axis_label {
  fill: red;
}

.negative.axis_label {
  fill: rgb(0,176,240);
}

/*polygon {
fill: blue ;
stroke: green ;
}*/
/*polygon:hover {
fill: orange;
}*/
